<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agência e-Plus | eccomerce and digital marketing</title>
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/header.css">
</head>
<body>
    <header>
        <nav>
            <img src="./assets/images/logo/agencia-eplus-n-logo.png" alt="Agencia ePlus logo" class="logo-img">
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Products</li>
                <li>Outlet</li>
                <li>Contact</li>
            </ul>
            <ul>
                <li>
                    icon
                </li>
                <li>
                    icon
                </li>
                <li>
                    icon
                </li>
            </ul>
        </nav>
        <div class="cart">
            <ul class="cart-list">
                <div class="item-img">
                    <img src="./assets/images/products/impressora-canon-160-160.jpg" alt="">
                </div>
                <div class="item-description">
                    <span>Notebook Samsung IntelR Core i5 [spred]</span>
                    <div class="item-amount-and-cost">
                        <span><strong>Qtd.:</strong>1</span>
                        <strong>R$ 7.158,21</strong>
                    </div>
                </div>
            </ul>
            <div class="total">
                <span>Total do pedido: <strong>R$ 20.356,95</strong></span>
            </div>
            <a href="#">FINALIZAR COMPRA</a>
        </div>
    </header>
    <main></main>
    <footer></footer>
</body>

</html>