<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agência e-Plus | eccomerce and digital marketing</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,600&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/header.css">
    <link rel="stylesheet" href="./styles/mobile.css">
</head>

<body>
    <header>
        <div class="header-container">
            <nav>
                <img src="./assets/images/logo/agencia-eplus-n-logo.png" alt="Agencia ePlus logo" class="logo-img">
                <ul class="menu-toggle">
                    <li>
                        <a href="#">
                            <span id="icon-menu-toggle" class="material-icons md-48">menu</span>
                        </a>
                    </li>
                </ul>
                <ul class="menu">
                    <li><a href="#">Lorem ipsum</a>
                    <li><a href="#">Lorem ipsum</a>
                    <li><a href="#">Lorem ipsum</a>
                    <li><a href="#">Lorem ipsum</a>
                    <li><a href="#">Lorem ipsum</a>
                </ul>
                <ul>
                    <li>
                        <a href="#">
                            <span class="material-icons md-30">search</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="material-icons md-30">person</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span id="cart-icon" class="material-icons md-30">shopping_cart</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="cart" id="cart">
            <ul>
                <li class="cart-list">
                    <div class="item-img">
                        <img src="./assets/images/products/note01-samsung-160-160.jpg" alt="">
                    </div>
                    <div class="item-description">
                        <span>Notebook Samsung IntelR Core i5 [spred]</span>
                        <div class="item-amount-and-cost">
                            <span><strong>Qtd.:</strong>1</span>
                            <strong>R$ 7.158,21</strong>
                        </div>
                    </div>
                </li>
                <li class="cart-list">
                    <div class="item-img">
                        <img src="./assets/images/products/note01-samsung-160-160.jpg" alt="">
                    </div>
                    <div class="item-description">
                        <span>Notebook Samsung IntelR Core i5 [spred]</span>
                        <div class="item-amount-and-cost">
                            <span><strong>Qtd.:</strong>1</span>
                            <strong>R$ 7.158,21</strong>
                        </div>
                    </div>
                </li>
                <li class="cart-list">
                    <div class="item-img">
                        <img src="./assets/images/products/note01-samsung-160-160.jpg" alt="">
                    </div>
                    <div class="item-description">
                        <span>Notebook Samsung IntelR Core i5 [spred]</span>
                        <div class="item-amount-and-cost">
                            <span><strong>Qtd.:</strong>1</span>
                            <strong>R$ 7.158,21</strong>
                        </div>
                    </div>
                </li>
                <li class="cart-list">
                    <div class="item-img">
                        <img src="./assets/images/products/note01-samsung-160-160.jpg" alt="">
                    </div>
                    <div class="item-description">
                        <span>Notebook Samsung IntelR Core i5 [spred]</span>
                        <div class="item-amount-and-cost">
                            <span><strong>Qtd.:</strong>1</span>
                            <strong>R$ 7.158,21</strong>
                        </div>
                    </div>
                </li>
                <li class="cart-list">
                    <div class="item-img">
                        <img src="./assets/images/products/note01-samsung-160-160.jpg" alt="">
                    </div>
                    <div class="item-description">
                        <span>Notebook Samsung IntelR Core i5 [spred]</span>
                        <div class="item-amount-and-cost">
                            <span><strong>Qtd.:</strong>1</span>
                            <strong>R$ 7.158,21</strong>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="total">
                <span>Total do pedido: <strong>R$ 20.356,95</strong></span>
            </div>
            <a href="#"><strong>FINALIZAR COMPRA</strong></a>
        </div>
        <div id ="menu-toggle" class="menu-toggle">
            <ul class="menu">
                <li><a href="#">Lorem ipsum</a>
                <li><a href="#">Lorem ipsum</a>
                <li><a href="#">Lorem ipsum</a>
                <li><a href="#">Lorem ipsum</a>
                <li><a href="#">Lorem ipsum</a>
            </ul>
        </div>
    </header>
</body>
<script src="./scripts/cart.js"></script>

</html>