header {
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1)
}

header nav {
    display: flex;
    margin: 0 auto;
    padding: 16px 8px;
    flex: 1;

    justify-content: space-around;
}

header nav img {
    max-height: 48px;
}

header nav ul {
    list-style: none;

    justify-content: center;
    align-items: center;
}

header nav ul li {
    margin-right: 8px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul {
    display: flex;
}

header div.cart {
    width: 400px;
    padding: 0 8px;
    background-color: #dedede;
}

header div.cart ul {
    display: flex;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header div.cart ul div.item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 16px;
}

header div.cart ul div.item-description div.item-amount-and-cost {
    display: flex;
    justify-content: space-between;
}

header div.cart ul div.item-description div.item-amount-and-cost > strong {
    color: green;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}