header {
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1); */
    position: relative;
    max-width: 1366px;
    margin: 0 auto;
}

header nav {
    display: flex;
    margin: 0 auto;
    padding: 16px 42px;
    flex: 1;

    justify-content: space-between;
}

header nav img {
    max-height: 48px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul.menu {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px 0 50px;
}

header nav ul.menu li{
    font-size: 0.975rem;
}

header nav ul:last-child {
    width: 200px;
    justify-content: space-between;
}

header nav ul li:last-child {
    margin-right: 0;
}

header .cart {
    width: 320px;
    background-color: #F0F0F0;
    position: absolute;
    right: 16px;
}

header .cart ul {
    height: 23em;
    padding: 0 8px;
    line-height: 2em;
    overflow: scroll;
    overflow-x: hidden;
}

header .cart ul li {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header .cart .item-img img {
    max-width: 100px;
    padding: 8px;
}

header .cart ul li div.item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 0px;
}

header .cart ul li div.item-description span {
    line-height: 0.9rem;
}

header .cart ul li div.item-description div.item-amount-and-cost {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin-top: 12px;
}


header .cart ul li div.item-description div.item-amount-and-cost > strong {
    color:rgb(0,188,14);
    margin-right: 4px;
}

header .cart ul li div.item-description div.item-amount-and-cost span {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .cart div.total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 8px;
    font-size: 1.1rem;
}

header .cart div.total span {
   color: #7B7B7B;
}

header .cart div.total span strong {
    color: #7B7B7B;
 }

header .cart a {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(0,188,14);
    text-decoration: none;
    height: 48px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-30 {
    font-size: 30px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}