header {
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
    width: 92%;
    padding: 1rem 0;
    margin: 0 auto;
}

.header-container nav {
    display: flex;
    margin: 0 auto;
    flex: 1;
    justify-content: space-between;
}

.header-container nav img {
    max-height: 48px;
}

.header-container nav ul {
    display: flex;
    list-style: none;
}

.header-container nav ul.menu {
    align-items: center;
    justify-content: space-between;
    margin: 0 100px 0 50px;
}

.header-container nav ul.menu li a {
    font-size: 1rem;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.2s;
}


.header-container nav ul.menu li a:hover {
    color: #000;
}

.header-container nav ul.menu li {
    margin-right: 1rem;
}

.header-container nav ul:last-child {
    width: 200px;
    justify-content: space-between;
}

.header-container nav ul:last-child li a span{
    color: #000;
}

.header-container nav ul:last-child span.select::before {
    content: '';
    position: absolute;
    bottom: 0;
    border-bottom: 20px solid var(--bg-color);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.header-container nav ul li a:last-child {
    margin-right: 0;
}

.cart {
    width: 320px;
    background-color: var(--bg-color);
    position: absolute;
    right: 16px;
    display: none;
}

.cart.open {
    display: block;
}

.cart ul {
    height: 23em;
    padding: 0 8px;
    line-height: 2em;
    overflow: scroll;
    overflow-x: hidden;
}

.cart ul li {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cart .item-img img {
    max-width: 100px;
    padding: 8px;
}

.cart ul li div.item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 0px;
}

.cart ul li div.item-description span {
    line-height: 0.9rem;
}

.cart ul li div.item-description div.item-amount-and-cost {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin-top: 12px;
}

.cart ul li div.item-description div.item-amount-and-cost>strong {
    color: rgb(0, 188, 14);
    margin-right: 4px;
}

.cart ul li div.item-description div.item-amount-and-cost span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart div.total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 8px;
    font-size: 1.1rem;
}

.cart div.total span {
    color: #7B7B7B;
}

.cart div.total span strong {
    color: #7B7B7B;
}

.cart a {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(0, 188, 14);
    text-decoration: none;
    height: 48px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-30 {
    font-size: 30px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}