@media (max-width: 1200px) {
    .header-container img {
        max-height: 48px;
    }
    .header-container nav ul.menu li a {
        font-size: 0.8rem;
    }
}

@media (max-width: 1024px) {
    .header-container img {
        max-height: 36px;
    }
    .header-container nav ul.menu li a {
        font-size: 0.7rem;
    }
}

@media (max-width: 768px) {
    .header-container nav ul.menu-toggle {
        display: block;
    }
    .header-container {
        display: flex;
        justify-content: space-between;
    }
    .header-container img {
        max-height: 20px;
    }
    .header-container {
        padding: 0.2rem 0;
        margin: 0 auto;
    }
    .header-container nav ul:last-child {
        width: 100px;
    }
    .header-container nav ul.menu {
        display: none;
    }
    .header-container nav ul:last-child span.select::before {
        right: 16px;
    }
}

@media (max-width: 480px) {}